In [8]:
taxi = pd.read_csv("train.csv")

In [3]:
taxi.tail()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198

In [4]:
len(taxi)

1458644

> id는 a unique identifier for each trip, vendor_id = 공급업체?

> datetime = meter기 on/off

> store and fwd flag = Y:저장전달

In [9]:
taxi2 = taxi.dropna(how = 'any')

In [10]:
len(taxi2)

1458644

> missing data 없음

- 출발시간대에 따라 분류
- 도착시간대에 따라 분류
- 인원수(관계거의없을것지만 상관관계 체크)
- 출발지와 도착지 직선거리계산 -> 시간과의 상관관계 체크